.mainCont {
  position: relative;
  height: 100%;
  overflow-y: auto;
  max-height: 257px;
}

.buttonsDiv {
  display: flex;
  align-items: center;
  line-height: 1;
  flex-wrap: wrap;
  gap: 14px;
}

.buttonsDiv > button {
  padding: 7px 13px;
  border-radius: 100px;
}

.headerC {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.bottomChat {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 11;
}
